/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #121824, #da9dc7);
    color: #110202;
     animation: pageFade 1s ease;
}

@keyframes pageFade {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* ===== NAV ===== */
nav {
    position: sticky;
    top: 5;
    background: rgba(175, 145, 165, 0.95);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 9px;
    z-index: 5000;
}

nav a {
    color: rgb(12, 1, 1);
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 50px;
    font-size: 14px;
    transition: all.3s ease;
}

nav a:hover {
    background: #ad6696;
    color: #141e30;
}

/* ===== HEADER ===== */
header {
    text-align: center;
    color: white;
    animation: fadeDown 1.2s ease;
    padding: 10px 0; /* menos espacio vertical */
}
    

header h1 {
    font-size: 50px;
}

header p {
    font-size: 24px;
    margin-top: 8px;
    animation: fadeIn 2s ease;
}


/* ===== CONTENEDOR ===== */
.contenedor {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    perspective: 1000px;

}

/* ===== CARDS ===== */
.card {
    background:linear-gradient(135deg, #f3f1f1, #f7d9ec);
    margin: 25px auto;
    padding: 22px;
    border-radius: 18px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    
}

.card:nth-child(1) { animation-delay: 0.5s; }
.card:nth-child(2) { animation-delay: 0.8s; }
.card:nth-child(3) { animation-delay: 0.9s; }
.card:nth-child(4) { animation-delay: 0.7s; }
.card:nth-child(5) { animation-delay: 3s; }
.card:nth-child(6) { animation-delay: 3.2s; }

.card:hover {
      transform: translateY(-6px) scale(1.02);
      border: 2px solid #e493c9;
    
}
.card:active {
    animation: pulse 0.3s ease;
}


.card h2 {
    color: #4a4a6a;
    margin-bottom: 10px;
}

/* ===== FOTO ===== */
.foto {
    text-align: center;
}

.foto img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15%; /* ← AQUÍ se cambia la forma */
     border: 4px solid transparent;
    background: linear-gradient(135deg, #121824, #da9dc7);
    padding: 4px;

    
}

.foto img:hover {
    transform: rotate(0deg) scale(1.1);
}

/* ===== LISTAS ===== */
ul {
    padding-left: 30px;
}

li {
    margin: 9px 0;
}

/* ===== VIDEO ===== */
.youtube-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 20px;
    opacity: 0.85;
}

/* ===== ANIMACIONES ===== */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(10);
        opacity: 0;
    }
    to {
        transform: scale(2);
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}


/* ===== RESPONSIVE ===== */
@media (max-width: 700px) {
    header h1 {
        font-size: 40px;
    }

    nav {
        flex-wrap: wrap;
        animation: slideDown 1s ease;
    }

    nav a {
    transition: all 0.3s ease;
}

    nav a:hover {
    background: #ed6dc2;
    color: #141e30;
    transform: scale(1.1);
}
}
